@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer utlilities {
  .container {
    @apply lg:max-w-5xl
  }
}

@keyframes changeColor {
    0% {
      fill: #505fff;
    }
    25% {
      fill: #c664ed;
    }
    50% {
      fill: #ff69b4;
    }
    75% {
      fill: #ff0062;
    }
    100% {
      fill: #5085ff;
    }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  }
  50% {
    filter: drop-shadow(0 0 25px rgb(180, 180, 180));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
  }
}